<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.tencent.tmf.mini.sdk.staticx5,com.tencent.qqmini,         com.tencent.tmf.mini.sdk.qrcode,com.tencent.tmfmini.sdk.map,         com.tencent.map.geolocation,com.tencent.tmfmini.live,com.tencent.liteav.sdk" />

    <!-- NFC -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" /> <!-- 日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- 通讯录 权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 生物认证 -->
    <!-- suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- <uses-permission android:name="android.permission.REORDER_TASKS"/> -->
    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> -->
    <!-- 蓝牙 -->
    <!-- https://developer.android.com/guide/topics/connectivity/bluetooth/permissions -->
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/forward_paths" />
        </provider> <!-- qq分享sdk -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101794394" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="TencentMapSDK"
            android:value="QAZBZ-2HCKW-SWAR4-ORKF2-JDHL3-IAFBO" />
        <meta-data
            android:name="HuaweiApiKey"
            android:value="DAEDAONn3WBoSfI4/4dnNph0gb1JcNYbqV9bADPDST68cHxvfO4BVhbHAuouhsmZhm86sbxpJCr8a2e2rTKeDFzGXQecxG6n+FEAgw==" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDh4FPXndDpaznCRwD-9YsnAly5-VoSfaE" />
    </application>

</manifest>